<!DOCTYPE html>
<!-- Hi! Fancy seeing you here (・◇・；). 
    If ya wanna get in touch, email me at ethanmahc@gmail.com. -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <meta name="description" content="Ethan Ma's Web Portfolio">
    <meta name="keywords"
        content="UX Design, UX Designer, Student, Product Design, Product, Design, Interaction Design, Interaction, Design, Ethan, Ma, Ethan Ma, SFU, Simon Fraser University, SIAT, Interactive Arts and Technology">
    <meta name="author" content="Ethan Ma">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Moonboard</title>
    <link rel="icon" type="image/png" href="../assets/ethan-fav.png" />

    <!-- normalize css so it doesn't look wack -->
    <link rel="stylesheet" type="text/css" href="../normalize.css">

    <!-- case-study css -->
    <link rel="stylesheet" type="text/css" href="../case-study.css">

     <!-- independent css -->
     <link rel="stylesheet" type="text/css" href="../moonboard.css">

    <!-- queries for responsiveness -->
    <link rel="stylesheet" type="text/css" href="../query.css">

</head>

<body class="moonboard-body">
    <article class="home-moonboard">
        <div class="home-container">
            <h6 class="margin-bottom-lv32"> <a href="../../index.html" id="white">Ethan Ma</a></h6>
            <div>
                <h5 id="white" class="margin-bottom-lv2">UX CASE STUDY</h5>
                <h1 id="white" class="margin-bottom-lv1">Moonboard</h1>
                <p id="white06" class="margin-bottom-lv32 white08">Workestra is a desktop and mobile app that allows remote coworkers to see and hear 
                        each other’s keyboard and mouse clicks. Workestra is an exploration of how teams can be more present with each other over 
                        distance while bringing joy into the remote workday. fuckASDFDJASLKFJADS;FJALSDJFLDASJFLAJFLA</p>
                    
                </div>

                <div class="margin-bottom-lv2">
                    <h5 id="white08" class="margin-bottom-lv05"> December 31st, 2020 </h5> 
                    <h5 id="white08" > 7 minute read </h5>
                </div>
        </div>
    </article>
    
    <div class="container">        
        <article class="content">
            <!-- put the body content here -->
            <div class="side-bar">
                <h3 id="contents" class="margin-bottom-lv3 black">CONTENTS</h3>
                <a href="#context"><h2 id="one" class="black">1. &nbsp; Context</h2></a>
                <a href="#moonboard-solution"> <h2 id="two">2. Solution</h2> </a>
                <a href="#process"><h2 id="three">3. Process</h2> </a>
                <!-- <a href="#reflection"><h2 id="four">4. Reflection</h2> </a> -->
            </div>

            <div class="main-content margin-top-lv8">
                <h1 id="context" class="margin-bottom-lv1">Context</h1>
                <p class="margin-bottom-lv8">I created this project with Audrey Chow, as a exercise to improve in interaction design. 
                    Our project focuses on aligning and opening up opportunities for elite climbers to access the board. 
                    This interaction design project was completed as a four week sprint, with an additional two weeks to refine 
                    and polish the prototype. </p>

                <h4 class="margin-bottom-lv1">What is a Moonboard?</h4>
                <p class="margin-bottom-lv3">Each wall is set up with identical LED holds and connects to a mobile app, which gives users the ability to 
                    browse problems, log their completed climbs, and compare their performance against friends and professional 
                    athletes. All of the problems are set by users on the app and reviewed by other climbers for a mutually agreed 
                    difficulty level.</p>

                <div class="margin-bottom-lv8">
                    <video loop autoplay>
                        <source src="../assets/moonboard/context-gif.mp4">
                    </video>
                    <h3 id="mono" style="color: black;">From amateur to world-class, a global community of climbers use the Moonboard to train their strength and power endurance.</h3>
                </div>
            </div>

            <div id="moonboard-solution" class="moonboard-background">
                <div id="solution" class="moonboard-solution">
                    <h6 class="margin-bottom-lv2">SOLUTION</h6>
                    <h1 class="margin-bottom-lv3">How the Moonboard Works</h1>
                    <p >When climbers turn on the board, they are greeted with an onboarding 
                        screen that shows them how to swipe through the climbs. With each swipe on the digital app, 
                        the lights on the physical board will change. Climbers can scroll down for additional 
                        information that helps them choose a climb suitable to their skill level.</p>
                </div>

                    <!-- <div class="main-content-big"> -->
                        <!-- <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop muted class="margin-bottom-lv4">
                                <source src="../assets/moonboard/how-it-works.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            <img class="play-button-context" src="../assets/white-play-button.svg" alt="white-play-button">
                        </div>   -->
                    <!-- </div> -->

                    <div class="main-content">

                        <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop muted class="margin-bottom-lv8">
                                <source src="../assets/moonboard/how-it-works.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            <img class="play-button-context" src="../assets/white-play-button.svg" alt="white-play-button">
                        </div>  

                        <h2 class="margin-bottom-lv2">Improvements</h2>
                        <p class="margin-bottom-lv6"> <b>1</b>. In the original design, there was no affordance for the swiping interaction. 
                            To help with this, we created a small onboarding screen and added an animation to show 
                            users that they were able to swipe.
                            <br><br>
                            <b>2</b>. We also rehauled sections of the information regarding the climbs, as the 
                            visualizations presented in the original design did not benefit the user. 
                            We polished it up by only including the bare essentials needed to judge the 
                            quality of a climb, reducing cognitive overhead.
                            
                        </p>
                        <div class="two-mobile margin-bottom-lv16">
                            <div>
                                <div class="video-wrapper" onclick="videoClick(this)">
                                    <video loop muted id="border">
                                        <source src="../assets/moonboard/prototypes/discover-bad.mp4">
                                        Your browser does not support HTML5 video
                                    </video>
                                    <img class="play-button-mobile" src="../assets/white-play-button.svg" alt="white-play-button">
                                </div>

                                <h3 id="mono">Before</h3>

                            </div>
                        
                            <div>
                                <div class="video-wrapper" onclick="videoClick(this)">
                                    <video loop muted id="border">
                                        <source src="../assets/moonboard/prototypes/discover-good.mp4">
                                        Your browser does not support HTML5 video
                                    </video>
                                    <img class="play-button-mobile" src="../assets/white-play-button.svg" alt="white-play-button">
                                </div>

                                <h3 id="mono">After</h3>
                            </div>
                        </div>

                        <h1 class="margin-bottom-lv3">Tap to Save!</h1>
                        <p>When climbers find a climb but are unable to finish it, they can save it to a climbing 
                            list for another session. Each climbing list has attributes such as numbers of climbs 
                            completed, grade range, as well as list collaborators. </p>
                    </div>
                 

                    <div class="main-content">

                        <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop muted class="margin-bottom-lv8">
                                <source src="../assets/moonboard/add.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            <img class="play-button-context" src="../assets/white-play-button.svg" alt="white-play-button">
                        </div>  

                        <h2 class="margin-bottom-lv2">Improvements</h2>
                        <p class="margin-bottom-lv6"> <b>1.</b> In a user interview, a climber mentioned that saving and accessing climbs in the original 
                            app was difficult, due to the interaction design. We decided to simplify this by following 
                            current interaction design patterns, by moving the “save” button to the top right.
                            <br><br>
                            <b>2.</b> In the original app, climbers have two choices when clicking on the “+” icon at the 
                            bottom of the navigation. Climbers either can save a climb to their list or logbook. 
                            To a new user, the distinction between the two is confusing, hence our decision to separate 
                            the two into two different buttons.
                            </p>

                        <div class="two-mobile margin-bottom-lv16">
                            <div>
                                <div class="video-wrapper" onclick="videoClick(this)">
                                    <video loop muted id="border">
                                        <source src="../assets/moonboard/prototypes/save-bad.mp4">
                                        Your browser does not support HTML5 video
                                    </video>
                                    <img class="play-button-mobile" src="../assets/white-play-button.svg" alt="white-play-button">
                                </div>

                                <h3 id="mono">Before</h3>

                            </div>
                        
                            <div>
                                <div class="video-wrapper" onclick="videoClick(this)">
                                    <video loop muted id="border">
                                        <source src="../assets/moonboard/prototypes/save-good.mp4">
                                        Your browser does not support HTML5 video
                                    </video>
                                    <img class="play-button-mobile" src="../assets/white-play-button.svg" alt="white-play-button">
                                </div>

                                <h3 id="mono">After</h3>
                            </div>
                        </div>

                        <h1 class="margin-bottom-lv3">Completing Climbs</h1>
                        <p>After successfully completing a climb, climbers log their climbs with a simple form to 
                            keep track of their progress. After completing the form, a small celebration appears 
                            and prompts the climber to upload a video to the community. The green checkmark beside
                            the climb’s name signifies the completion of the climb.</p>
                        </div>

                        <div class="main-content">

                            <div class="video-wrapper" onclick="videoClick(this)">
                                <video loop muted class="margin-bottom-lv8">
                                    <source src="../assets/moonboard/complete.mp4">
                                    Your browser does not support HTML5 video
                                </video>
                                <img class="play-button-context" src="../assets/white-play-button.svg" alt="white-play-button">
                            </div>  

                            <h2 class="margin-bottom-lv2">Improvements</h2>
                            <p class="margin-bottom-lv6"><b>1.</b> Completing a climb on the Moonboard is extremely difficult, and it is common for 
                                climbers to celebrate afterward. There is an opportunity for the digital experience
                                 to match the enthusiasm of finishing a climb on the Moonboard. Because of this, we
                                  designed the interactions to feel joyful and springy, with congratulations at the
                                   end.
                                <br><br>
                                <b>2.</b> After a hard climb, it is most likely that the climber’s fingers are quite weak. 
                                We decided to blow up the buttons to make logging easier, especially with tired 
                                fingers.
                                </p>

                            <div class="two-mobile margin-bottom-lv16">
                                <div>
                                    <div class="video-wrapper" onclick="videoClick(this)">
                                        <video loop muted id="border">
                                            <source src="../assets/moonboard/prototypes/log-bad.mp4">
                                            Your browser does not support HTML5 video
                                        </video>
                                        <img class="play-button-mobile" src="../assets/white-play-button.svg" alt="white-play-button">
                                    </div>
    
                                    <h3 id="mono">Before</h3>
    
                                </div>
                            
                                <div>
                                    <div class="video-wrapper" onclick="videoClick(this)">
                                        <video loop muted id="border">
                                            <source src="../assets/moonboard/prototypes/log-good.mp4">
                                            Your browser does not support HTML5 video
                                        </video>
                                        <img class="play-button-mobile" src="../assets/white-play-button.svg" alt="white-play-button">
                                    </div>
    
                                    <h3 id="mono">After</h3>
                                </div>
                            </div>

                            <h1 class="margin-bottom-lv3">Cleaning up the Filtering System</h1>
                            <p class="margin-bottom-lv6">
                                In a user interview we discovered that climbers want a simplified method to filter 
                                climbs based on three main determinants:

                                <br><br>

                                <b>Benchmarked Climbs</b> - Is the climb verified by the MoonBoard community?
                                <br>
                                <b>Completion Number</b> - Is it even possible to climb?
                                <br>
                                <b>Star Rating</b> - How well does the climb combine strength and technique?

                                <br><br>

                                Our new filtering page also auto converts between Font or V grading. The Font scale 
                                is commonly used in Europe, and the V scale is used in North America to grade climbs. 
                                This way, climbers don’t have to convert between the two systems.

                            </p>
                            <div class="two-mobile margin-bottom-lv16">
                                <div>
                                    <div class="video-wrapper" onclick="videoClick(this)">
                                        <video loop muted id="border">
                                            <source src="../assets/moonboard/prototypes/filter-bad.mp4">
                                            Your browser does not support HTML5 video
                                        </video>
                                        <img class="play-button-mobile" src="../assets/white-play-button.svg" alt="white-play-button">
                                    </div>
    
                                    <h3 id="mono">Before</h3>
    
                                </div>
                            
                                <div>
                                    <div class="video-wrapper" onclick="videoClick(this)">
                                        <video loop muted id="border">
                                            <source src="../assets/moonboard/prototypes/filter-good.mp4">
                                            Your browser does not support HTML5 video
                                        </video>
                                        <img class="play-button-mobile" src="../assets/white-play-button.svg" alt="white-play-button">
                                    </div>
    
                                    <h3 id="mono">After</h3>
                                </div>
                            </div>
                        </div>
                </div>       

            <div id="process" class="main-content margin-top-lv8">
                <h4 class="margin-bottom-lv2">Sorry, this is the end for now! I’m still in the process of writing this case study.</h4>
                <p class="margin-bottom-lv6">
                    
                    However, if you’d like to chat about this project, reach out to me at ethan_ma@sfu.ca, message me on Linkedin, 
                    or even invite me to coffee! I would be more than happy to discuss my work ヾ(´ー｀)ノ.

                    <br><br>                    
                    In the meantime, watch me climb the Moonboard at Hive Vancouver!

                </p>
                <div class="img-caption">
                    <div class="video-wrapper" onclick="videoClick(this)">
                        <video loop muted id="ethan-climbing" class="margin-top-lv3 margin-bottom-lv16">
                            <source src="../assets/moonboard/ethan-climbing.mp4">
                            Your browser does not support HTML5 video
                        </video>
                        <img class="play-button-mobile" src="../assets/white-play-button.svg" alt="white-play-button">
                    </div>  
                </div>  
            </div>

        </article>

        <!-- class footer for scroll-reveal -->
        <footer id="test" class="footer margin-top-lv16">
            <div class="section-top">
                <h4>Context</h4>
                <h5 id="white08">Passion Project - 6 Weeks</h5>
            </div>

            <div class="section">
                <h4>Collaborators </h4>
                <h5 id="white08" > <a id="white08" href="https://www.audreychow.com" target="_blank">Audrey Chow</a></h5>
                
            </div>

            <div class="section">
                <h4>Tools</h4>
                <h5 id="white08">Figma, Principle, Premiere Pro</h5>
            </div>

            <div class="section">
                <h4>Project Role</h4>
                <div>
                    <h5 id="white08">Interaction Design, User Research, Prototyping</h5>
                    <h5 class="grey" class="margin-top-lv1">
                        I led the interaction design and prototyping of this project using a mix of Figma and Principle, 
                        working specifically on application flow, motion design, and content design.  
                        After creating the prototypes, I stitched together clips of my friend Joseph and created scenario 
                        videos in order to show when to use certain features.
                    </h5>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="info-box">
                    <a href="mailto:ethanmahc@gmail.com" target="_blank"><h3>Email</h3></a>
                    <a href="https://www.sfu.ca/~ethanm/resume_2020.pdf" target="_blank"><h3>Resume</h3></a>
                    <a href="https://www.linkedin.com/in/eathnma/" target="_blank"><h3>Linkedin</h3></a>
                </div>
                <h2>Next: <a id="white08" href="../views/hi-five.html">Up-Top!</a> ➚</h2>
            </div>

        </footer>

    </div>

    <script src="https://unpkg.com/scrollreveal"></script>

     <!-- JS for Video behaviour -->
     <script src="../js/video.js"></script>

    <script>
    
    // CONTENT CHANGES
    // get variables from the context bar
    var contents = document.getElementById("contents");
    var one = document.getElementById("one");
    var two = document.getElementById("two");
    var three = document.getElementById("three");
    // var four = document.getElementById("four");

    // check scroll position of website & return number
    window.addEventListener("scroll", () => {
        console.log(window.scrollY);
        // 1
        if (window.scrollY < 2500) {
            console.log("switch content!");
            one.style.color = "black";
        } else {
           one.style.color = "grey";
        }
        //2
        if(window.scrollY > 2500 && window.scrollY < 5900){
            contents.style.color = "white";
            two.style.color = "white";
        } else{
            two.style.color = "grey";
            contents.style.color = "grey";
        }
        //3
        if(window.scrollY > 5900 && window.scrollY < 13925){
            three.style.color = "black";
        } else{
            three.style.color = "grey";
        }
        //4
     
    });


  

    </script>
</body>

</html>