<!DOCTYPE html>
<!-- Hi! Fancy seeing you here (・◇・；). 
    If ya wanna get in touch, email me at ethanmahc@gmail.com. -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <meta name="description" content="Ethan Ma's Web Portfolio">
    <meta name="keywords"
        content="UX Design, UX Designer, Student, Product Design, Product, Design, Interaction Design, Interaction, Design, Ethan, Ma, Ethan Ma, SFU, Simon Fraser University, SIAT, Interactive Arts and Technology">
    <meta name="author" content="Ethan Ma">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Workestra</title>
    <link rel="icon" type="image/png" href="../assets/ethan-fav.png" />

    <!-- normalize css so it doesn't look wack -->
    <link rel="stylesheet" type="text/css" href="../normalize.css">

    <!-- case-study css -->
    <link rel="stylesheet" type="text/css" href="../case-study.css">

    <!-- queries for responsiveness -->
    <link rel="stylesheet" type="text/css" href="../query.css">

     <!-- independent css -->
     <link rel="stylesheet" type="text/css" href="../workestra.css">

</head>

<body>

    <article class="home">
        <div class="home-container">
            <h6 class="margin-bottom-lv32"> <a href="../../index.html" id="white">Ethan Ma</a></h6>
            <div>
                <h5 class="margin-bottom-lv2">UX CASE STUDY</h5>
                <h1 class="margin-bottom-lv1">Workestra</h1>
                <p class="margin-bottom-lv2">Wörkestra is a desktop and mobile app that allows remote coworkers to see and hear each other’s keyboard
                        and mouse clicks. Wörkestra is an exploration of how teams can be more present with each other over 
                        distance while bringing joy into the remote workday.</p>
                    
                        <div class="button-wrapper margin-bottom-lv32">
                        <a href="../assets/pdf/workestra-pres.pdf" target="_blank" ><button class="margin-right-lv3" id="white"> <img id="report-button" src="../assets/workestra/deck-icon.svg" alt="none">View Slidedeck</button></a>
                        <a href="../assets/pdf/workestra-research-report.pdf" target="_blank"><button id="white"> <img id="deck-button" src="../assets/workestra/slide-icon.svg" alt="none">Read Research Report</button></a>
                    </div>
                </div>

                <div>
                    <h5 class="margin-bottom-lv05"> December 31st, 2020 </h5> 
                    <h5> ? minute read </h5>
                </div>
        </div>
    </article>
    
    <div class="container">        
        <article class="content">
            <!-- put the body content here -->
            <div class="side-bar">
                <h3 id="black" class="margin-bottom-lv3">CONTENTS</h3>
                <a href=""><h2 id="one" class="black">1. &nbsp; Context</h2></a>
                <a href=""> <h2 id="two">2. Solution</h2> </a>
                <a href=""><h2 id="three">3. User-Testing</h2> </a>
                <a href=""><h2 id="four">4. Moving Forward</h2> </a>
            </div>

            <div class="main-content">
                <h1>Context</h1>
                <p class="margin-bottom-lv4">Our initial proposal for Workestra was to do a deep dive within the realm of remote-work 
                    investigating the space of remote work. Although conversations have been able to move online, 
                    remote teams have felt less connected than before.</p>
                <img src="../assets/workestra/01.jpg" alt="workestra shit">

                <h1>Frictions</h1>
                <p class="margin-bottom-lv4">Through 60 survey respondants and 9 interviews, primarily from remote knowledge workers, 
                    we found three key insights. In order to created informed design, we created a 16 page research report that summarizing 
                    the context of remote work.
                </p>
            </div>

        </article>

        <!-- class footer for scroll-reveal -->
        <footer class="footer margin-top-lv16">
            <div class="section-top">
                <h4>Duration</h4>
                <h5>8 Weeks</h5>
            </div>

            <div class="section">
                <h4>Collaborators </h4>
                <h5> <a href="https://www.audreychow.com">Audrey Chow</a>, <a href="https://www.brendanchow.info/">Brendan Chow</a>, <a href="https://www.elizalim.com"> Eliza Lim</a></h5>
            </div>

            <div class="section">
                <h4>Project Role</h4>
                <div>
                    <h5>Interaction Design, Prototyping, User Research</h5>
                    <h5 class="grey">I co-led the interaction design, but brought to life the interaction 
                        with a mix of prototyping tools, After Effects, Premiere Pro, and Audacity. User Research was 
                        conducted by the whole team, but I specifically focused on researching and understanding the 
                        importance of informal conversation in the workplace. I pulled key insights from both interviews 
                        and the literature review that ended up informing the final design decisions.</h5>
                </div>
            </div>

            <div class="section">
                <h4>Supervisor</h4>
                <div>
                    <h5>
                        <a href="https://www.carmster.com/">Carman Neustaedter</a>
                    </h5>
                </div>
            </div>

            <div class="section">
                <h4>Additional Links</h4>
                <div>
                    <h5>Check out a rough prototype that I developed here!</h5>
                    <h5 class="grey"><a href="https://directedstudy-heroku.herokuapp.com/">Heroku Prototype</a></h5>
                <br>
                <h5>This was our remote work reading list.</h5>
                <h5 class="grey"><a href="https://deciduous-uranium-52e.notion.site/Reading-List-7fb4306e0a404f6fae04632f87b5d5d8">Notion Reading List</a></h5>
                </div>
            </div> 

            <div class="footer-bottom">
                <div class="info-box">
                    <a href="mailto:ethanmahc@gmail.com"><h3>Email</h3></a>
                    <a href="https://www.sfu.ca/~ethanm/resume_2020.pdf"><h3>Resume</h3></a>
                    <a href="https://www.linkedin.com/in/eathnma/"><h3>Linkedin</h3></a>
                </div>
                <h2>Next Project: <a href="">Workestra</a> ➚</h2>
            </div>

        </footer>

    </div>

    <script src="https://unpkg.com/scrollreveal"></script>

     <!-- JS for Video behaviour -->
     <script src="../js/video.js"></script>

    <script>
    ScrollReveal().reveal('.content');
    ScrollReveal().reveal('.footer');


    // CONTENT CHANGES
    // get variables from the context bar
    var one = document.getElementById("one");
    var two = document.getElementById("two");
    var three = document.getElementById("three");
    var four = document.getElementById("four");

    // check scroll position of website & return number
    window.addEventListener("scroll", () => {
        console.log(window.scrollY);
        // 1
        if (window.scrollY < 1000) {
            console.log("switch content!");
            one.style.color = "black";
        } else {
           one.style.color = "grey";
        }
        //2
        if(window.scrollY > 1000){
            two.style.color = "black";
        } else{
            two.style.color = "grey";
        }
        //3
        //4
    });


  

    </script>
</body>

</html>