<!DOCTYPE html>
<!-- Hi! Fancy seeing you here (・◇・；). 
    If ya wanna get in touch, email me at ethanmahc@gmail.com. -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <meta name="description" content="Ethan Ma's Web Portfolio">
    <meta name="keywords"
        content="UX Design, UX Designer, Student, Product Design, Product, Design, Interaction Design, Interaction, Design, Ethan, Ma, Ethan Ma, SFU, Simon Fraser University, SIAT, Interactive Arts and Technology">
    <meta name="author" content="Ethan Ma">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Workestra</title>
    <link rel="icon" type="image/png" href="../assets/ethan-fav.png" />

    <!-- normalize css so it doesn't look wack -->
    <link rel="stylesheet" type="text/css" href="../normalize.css">

    <!-- case-study css -->
    <link rel="stylesheet" type="text/css" href="../case-study.css">

     <!-- independent css -->
     <link rel="stylesheet" type="text/css" href="../workestra.css">

    <!-- queries for responsiveness -->
    <link rel="stylesheet" type="text/css" href="../query.css">

</head>

<body>

    <article class="home-workestra">
        <div class="home-container workestra-query">
            <h6 class="margin-bottom-lv32"> <a href="../../index.html" id="white">Ethan Ma</a></h6>
            <div>
                <h5 id="white" class="margin-bottom-lv2">UX CASE STUDY</h5>
                <h1 id="white" class="margin-bottom-lv1">Workestra - A Remote <br>Work Experiment</h1>
                <p id="white06" class="margin-bottom-lv2 white08">Workestra is a desktop and mobile app that allows remote coworkers to see and hear 
                        each other’s keyboard and mouse clicks. Workestra is an exploration of how teams can be more present with each other over 
                        distance while bringing joy into the remote workday.</p>
                    
                        <div class="button-wrapper margin-bottom-lv32">
                        <a href="../assets/pdf/workestra-pres.pdf" target="_blank" ><button class="margin-right-lv3"> <img id="slide-button" src="../assets/workestra/deck-icon.svg" alt="none">View Slidedeck</button></a>
                        <a href="../assets/pdf/workestra-research-report.pdf" target="_blank"> <button><img id="research-button" src="../assets/workestra/slide-icon.svg" alt="none">Read Research Report</button></a>
                    </div>
                </div>

                <div class="margin-bottom-lv2">
                    <h5 id="white08" class="margin-bottom-lv05"> Fall Semester, 2020 </h5> 
                    <h5 id="white08" > 7 minute read </h5>
                </div>
        </div>
    </article>
    
    <div class="container">        
        <article class="content">
            <!-- put the body content here -->
            <div class="side-bar">
                <h3 id="contents" class="margin-bottom-lv3 black">CONTENTS</h3>
                <a href="#context"><h2 id="one" class="black">1. &nbsp; Context</h2></a>
                <a href="#workestra-solution"> <h2 id="two">2. Solution</h2> </a>
                <a href="#process"><h2 id="three">3. Process</h2> </a>
                <a href="#reflection"><h2 id="four">4. Reflection</h2> </a>
            </div>

            <div class="main-content margin-top-lv8">
                <h1 id="context" class="margin-bottom-lv1">Context</h1>
                <p class="margin-bottom-lv4">This project was a thirteen-week Directed Study supervised under <a href="https://carmster.com" target="_blank">Carman Neustaedter</a>, 
                    taking a deep dive into the informal conversation habits of knowledge workers in North America. 
                    Within the project, our team conducted a literature review and user interviews to ultimately build a 
                    research report documenting COVID-19’s impact on project teams. This report informed our solution — 
                    Workestra, a new interaction for remote teams with the aim to reduce social isolation throughout the workday. </p>
                <img src="../assets/workestra/01.png" alt="workestra">

                <h1 class="margin-bottom-lv1 margin-top-lv8">Problem</h1>
                <p class="margin-bottom-lv4">Due to COVID-19, companies have moved team collaboration solely online, 
                    causing 4.7 million Canadians to depend on online communication systems. According to the Angus 
                    Reid Institute, “the percentage of [Canadians] saying that [video calling] makes them feel truly
                     connected has plummeted as usage has increased.” Authentic interactions such as spur-of-the-moment 
                     conversations feel awkward and forced online, which is a missed opportunity for building team rapport.
                </p>
                <h2 class="quote margin-top-lv4">
                    “ I miss grabbing lunch with the team. All we talk about is work now.”                
                </h2>
                <img src="../assets/workestra/teams.png" alt="workestra" class="margin-bottom-lv4">
                
                <p class="margin-bottom-lv4">
                    In-person interactions such as stopping by a co-worker’s 
                    desk to catch up, are examples of how informal conversations can foster social support, collaboration,
                    and satisfaction within the workplace. From our findings, 95% of survey respondents said it was 
                    difficult to socialize with their co-workers in a remote setting. Fostering authentic social 
                    relationships online is important in the workplace, for the sake of mental health and a 
                    productive team environment. 
                    <br><br>
                    For a full breakdown of our findings, check out the full research report here. 
                </p>

                <a id="no-deco" href="../assets/pdf/workestra-research-report.pdf" target="_blank">
                    <div id="big-button-black" class="margin-bottom-lv8">
                        <img src="../assets/workestra/Union.png" alt="Exploring Informal Conversation in the Remote Workplace">
                        <h4 id="button-h4" class="margin-left-lv3">Exploring Informal Conversation in the Remote Workplace.pdf</h4>
                    </div>
                </a>

            </div>

            <div id="workestra-solution" class="workestra-background">
                <div id="solution" class="workestra-solution">
                    <h6 class="margin-bottom-lv2">SOLUTION</h6>
                    <h1 class="margin-bottom-lv3">Workestra in Action!</h1>
                    <p class="margin-bottom-lv4">Workestra is a desktop and mobile app that allows remote coworkers to see and 
                        hear each other’s keyboard and mouse clicks. Workestra is an exploration of how 
                        teams can be more present with each other over distance while bringing joy into 
                        the remote workday. 
                        <br><br>
                        Turn your sound on for the video!</p>
                        
                        <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop class="abs margin-bottom-lv16">
                                <source src="../assets/workestra/Main.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            <img class="play-button" src="../assets/white-play-button.svg" alt="white-play-button">
                        </div>
                        
                        <h1>When to use Workestra</h1>
                        <p class="margin-bottom-lv4">There are many ways to use Workestra, whether it’s playing music together, 
                            shaking your teammates for fun, or sending emojis to one another, Workestra is a flexible, 
                            yet productive playground for your team to inhabit. 
                            <br><br>
                            For a full list of features, check out our Final Slidedeck.
                        </p>

                        <a id="no-deco" href="../assets/pdf/workestra-pres.pdf" target="_blank">
                        <div id="big-button" class="margin-bottom-lv8">
                            <img src="../assets/workestra/deck-icon.svg" alt="Final Slidedeck - Workestra">
                            <h4 id="white08" class="margin-left-lv3">Final Slidedeck — Workestra.pdf</h4>
                        </div>
                    </a>

                        <h5 class="margin-bottom-lv1">1. Wiggle Your Co-Workers</h5>
                        <p class="margin-bottom-lv4">Click + Drag any of your coworker’s icons back and forth to distort their sound. 
                            Think of it as a tap on the shoulder or a friendly way to say hello during the workday. 
                            The wiggled team member will receive a notification and can follow up through their 
                            company communication platform.</p>

                        <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop class="margin-bottom-lv16">
                                <source src="../assets/workestra/Wiggle Interaction.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            <img class="play-button" src="../assets/white-play-button.svg" alt="white-play-button">
                        </div>

                        <h5 class="margin-bottom-lv1">2. Send Emojis with Keywords</h5>
                        <p class="margin-bottom-lv4">Type keywords and phrases like “breaktime” or “coffee” in any application to give 
                            your team a hint about what you’re doing and where you are in your workday. Unique 
                            keywords can be programmed by individual team members and can be used to send subtle 
                            messages to their team.</p>

                        <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop class="margin-bottom-lv16">
                                <source src="../assets/workestra/Emoji Interaction.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            
                            <img class="play-button" src="../assets/white-play-button.svg" alt="white-play-button">
                       
                        </div>

                        <h5 class="margin-bottom-lv1">3. Keep Workestra on the Side</h5>
                        <p class="margin-bottom-lv4">With Workestra Mini, team members can see their co-workers in their peripheral vision. 
                            Curious team members can hover over the musical bars to reveal a profile picture of 
                            the currently active team member.</p>

                        <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop class="margin-bottom-lv16">
                                <source src="../assets/workestra/Workestra Miniview.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            <img class="play-button" src="../assets/white-play-button.svg" alt="white-play-button">
                          
                        </div>

                        <h5 class="margin-bottom-lv1">4. Sync up with Co-Workers</h5>
                        <p class="margin-bottom-lv4">Remote work can be lonely. Workestra shows when you and your coworkers are both 
                            typing above 90 words per minute — in other words: “in the zone” — by making 
                            your instruments sound more resonant. 
                        </p>

                        <video autoplay loop class="margin-bottom-lv16">
                            <source src="../assets/workestra/Glow Interaction.mp4">
                            Your browser does not support HTML5 video
                        </video>
                          
                </div>
            </div>

            <div class="main-content">
                <h1 id="process"class="margin-bottom-lv2 margin-top-lv8">Process</h1>
                <h4 class="margin-bottom-lv1">1/6 - Literature Review</h4>
                <p class="margin-bottom-lv6">To start, we created a reading list on Notion and split up the research into three categories, 
                    value of informal conversation, solutions to facilitate informal conversation, and emerging technologies. 
                    <br><br>
                    These were the findings:  </p>
               
                <img src="../assets/workestra/lit_review.png" alt="lit review" class="margin-bottom-lv6">

                <p class="margin-bottom-lv16">Our group was interested in taking an ethical approach to conducting research. 
                    In the first week of our Directed Study, we all completed the TCPS2, a Canadian certificate for ethics, 
                    which helped us understand how to ethically handle participant data.
                    <br><br>
                    Check out the <a href="https://deciduous-uranium-52e.notion.site/Reading-List-7fb4306e0a404f6fae04632f87b5d5d8" target="_blank">Remote Work Reading List here!</a>
                    </p>

                <h4 class="margin-bottom-lv2">2/6 - Research Methods</h4>
                <p class="margin-bottom-lv4">Our team conducted an online survey and interviewed full-time remote workers in team based environments. Our assumption was that remote workers were frustrated that their communication 
                    platforms lacked the frequency and richness that face-to-face interactions provided.
                <br><br>
                    With the surveys, we were interested in their satisfaction with the types of platforms that they use 
                    to communicate informally. With the interviews, we wanted details on how informal conversations arose in the 
                    workplace, and how important informal conversation was to them. 
                    <br><br>
                    Following ethical research design practices, we stored participant data in a secure vault after each interview, 
                    anonymized participants, and set a date to destroy the data.
                    <br><br>
                    For a deeper look into our process, take a look our Research Proposal.
                </p>

                <a id="no-deco" href="../assets/pdf/research_proposal.pdf" target="_blank">
                    <div id="big-button-black" class="margin-bottom-lv8">
                        <img src="../assets/workestra/slide-icon-black.svg" alt="Workestra Proposal">
                        <h4 id="button-h4" class="margin-left-lv3">Research Proposal - Workestra.pdf</h4>
                    </div>
                </a>

                <div class="img-caption margin-bottom-lv16">
                    <img src="../assets/workestra/isaac.png" alt="isaac ٩(＾◡＾)۶" class="margin-bottom-lv1"> 
                    We interviewed nine participants that worked remotely. 
                    According to this participant, informal collaboration is extremely important! 
                </div>  

                <h4 class="margin-bottom-lv2">3/6 - Identifying the Audience</h4>
                <p class="margin-bottom-lv3">
                    After surveying fourty-one knowledge workers and interviewing nine, we uncovered three key insights that shaped Workestra.
                </p>
            </div>

            <div class="main-content-big">
                <img src="../assets/workestra/friction.png" alt="frictions">
            </div>

            <div class="main-content">
                <p class="margin-bottom-lv6">
                    From these insights, I created our main persona: Edith, 
                    a new hire at a mid-sized tech company that struggles to bond with a team she’s never worked with before.
                </p>
                <img src="../assets/workestra/edith.png" alt="edit" class="margin-bottom-lv6">
                <p class="margin-bottom-lv2">It was necessary to create three personas of varying corporate hierarchy, 
                    to map the relationship dynamics between Edith and her team members. Based on the 
                    level of individual corporate status, my understanding was that each worker would interact with Workestra 
                    in a unique way.  
                    <br><br>
                    In the personas, we mapped out the communication habits of each team-member in Slack messages; showing short 
                    conversations with team members in formal and informal contexts. This was important because I wanted to 
                    respect corporate hierarchy by creating interactions that didn't seem too informal.
                </p>
            </div>

            <div class="main-content-big margin-bottom-lv16">
                <img id="change-image-workestra" src="../assets/workestra/edith-persona.png" alt="test">
                <div class="btn-group margin-top-lv4">
                    <button id="oneButton" onclick="buttonPress(this)">Primary - Edith</button>
                    <button id="twoButton" onclick="buttonPress(this)">Secondary - Frank</button>
                    <button id="threeButton" onclick="buttonPress(this)">Tertiary - Hason</button>
                </div>
            </div>

            <div class="main-content">
                <h4 class="margin-bottom-lv2">4/6 - Guiding Principles</h4>
                <p class="margin-bottom-lv6">Before jumping into the design, our team created guiding principles, as a 
                    reminder to bring benefit to the workday. I believed that we were verging the line 
                    between work and play, these guiding principles would keep the team on track to 
                    design something that would benefit, instead of designing a product that piles on additional stress. 
                </p>
                <img src="../assets/workestra/guiding_principles.png" alt="guiding_principles" class="margin-bottom-lv16">

                <h4 class="margin-bottom-lv2">5/6 - Initial Exploration</h4>
                <p class="margin-bottom-lv4">Our initial solution proposal was called RADIO.io, a web application 
                    allowing remote teammates to connect to each other’s musical channels. However, what we were
                     proposing with RADIO.io felt too similar to other solutions, such as products like <a href="https://tandem.chat/" target="_blank">Tandem</a>. 
                     Because of this, we decided to pivot and revisit the drawing board. 
                    <br><br>
                    Another reason for the pivot was that RADIO.io required individuals to actively use the software. 
                    We were afraid that this would break our established guiding principles, and would create distraction within the workday.
                </p>
            </div>

                <div class="main-content-big">
                    <div class="img-caption margin-bottom-lv16">
                        <img src="../assets/workestra/radio.png" alt="radio">
                        We presented RADIO.io to our professor, but we were unhappy with the direction it was taking. 
                    </div>
                </div>
            
                <div class="main-content">
                    <h4 class="margin-bottom-lv2">6/6 - Shaping the Solution</h4>
                    <p class="margin-bottom-lv8">Our goal with Workestra was to build comfort and confidence within
                        remote-teams, while introducing more presence within the workday. How could we achieve this 
                        without creating distractions? Remote workers are already overwhelmed with the overload of 
                        tabs and applications open. Introducing an additional application would be overkill!
                        <br><br>
                        So I thought, what if connection didn’t take any effort? Can we bring joy to mundane activities, 
                        such as typing on the keyboard? What if people could passively play music together while they 
                        worked? This was the line of thinking that brought us to our solution.
                        <br><br>
                        I came up with the idea of referencing musical notation, where each team-member is represented by a 
                        note in a chord. These sketches were initial explorations that I co-created to create Workestra.
                    </p>
                </div>
               
            <div class="main-content-big">
                <div class="img-caption">
                    <img src="../assets/workestra/early_workestra.png" alt="early">
                    Early iterations of Workestra.
                </div>
            </div>

            <div class="main-content">
                <p class="margin-bottom-lv8">
                    
                    After finishing the final design, we realized there was no way to 
                    test our interaction. In the last few days of the Directed Study, I coded a rough prototype 
                    to get an understanding of what Workestra would feel and sound like. 
                    <br><br>
                    You can check out the <a href="https://directedstudy-heroku.herokuapp.com/" target="_blank">coded prototype here.</a>
                </p>
                <div class="img-caption margin-bottom-lv16">
                    <img src="../assets/workestra/prototype.png" alt="prototype">
                    Although we weren’t able to connect users to our web-app, we coded a very patchy prototype 
                    to test the interaction. 
                </div>
            </div>

            <div id="reflection" class="main-content">
                <h1 class="margin-bottom-lv1">Reflection</h1>
                <p class="margin-bottom-lv6">
                    
                    This problem space afforded exploration through many facets of remote work due to new problems, presenting fruitful 
                    opportunities for intervention. I was debating on continuing this idea and bringing it to life, but due to a security 
                    issue with keylogging, our team decided against it.
                    <br><br>
                    Although there were instances of struggle and frustration, we are extraordinarily proud of our creation. 
                    After completing the project, many of us showed Workestra to friends, family, and working professionals, 
                    and were blown away by the need for something like this in the workplace. 
                    <br><br>
                    <a href="#top">📚 Read the case study again!</a>

                </p>
                <div class="img-caption">
                    <img class="margin-bottom-lv3" src="../assets/workestra/artisinal_friends.jpeg" alt="artisinal_friends?">
                    This was our team! Right to left: Ethan, Eliza, Brendan, Audrey.
                </div>  
            </div>

        </article>

        <!-- class footer for scroll-reveal -->
        <footer class="footer margin-top-lv16">
            <div class="section-top">
                <h4>Context</h4>
                <h5 id="white08">IAT 387 Directed Study - 13 Weeks</h5>
            </div>

            <div class="section">
                <h4>Collaborators </h4>
                <h5 id="white08" > <a id="white08" href="https://www.audreychow.com" target="_blank">Audrey Chow</a>, <a id="white08" href="https://brendanchow.info/" target="_blank">Brendan Chow</a>, <a id="white08" href="https://www.elizalim.com/" target="_blank">Eliza Lim</a>,  <a id="white08" href="https://carmster.com/" target="_blank">Carman Neustaedter</a></h5>
                
            </div>

            <div class="section">
                <h4>Tools</h4>
                <h5 id="white08">Figma, After Effects, Premiere Pro, Audacity, Keynote</h5>
            </div>

            <div class="section">
                <h4>Project Role</h4>
                <div>
                    <h5 id="white08">Interaction Design, User Research, Prototyping</h5>
                    <h5 id="white06" class="margin-top-lv2">
                        I co-led the interaction design, and brought to life the 
                        interaction with a mix of prototyping tools, After Effects, Premiere Pro, 
                        and Audacity. User Research was conducted by the whole team, but I specifically 
                        focused on researching and understanding the importance of informal conversation. 
                        I pulled key insights from both interviews and the literature 
                        review that ended up informing the final design decisions.
                    </h5>
                </div>
            </div>

            <div class="section">
                <h4>Additional Links</h4>
                <div class="margin-bottom-lv4">
                    <h5 id="white08">Check out a rough prototype that I developed here!</h5>
                    <h5><a id="white06" href="https://directedstudy-heroku.herokuapp.com/" target="_blank">Heroku Prototype</a></h5>
                </div>

                <div>
                    <h5 id="white08">This was our remote work reading list.</h5>
                    <h5><a id="white06" href="https://deciduous-uranium-52e.notion.site/Reading-List-7fb4306e0a404f6fae04632f87b5d5d8" target="_blank">Notion Reading List</a></h5>
                </div>

            </div>

    
            <div class="footer-bottom">
                <div class="info-box">
                    <a href="mailto:ethanmahc@gmail.com" target="_blank"><h3>Email</h3></a>
                    <a href="../assets/pdf/ethanma_resume2021.pdf" target="_blank"><h3>Resume</h3></a>
                    <a href="https://www.linkedin.com/in/eathnma/" target="_blank"><h3>Linkedin</h3></a>
                </div>
                <h2>Next: <a id="white08" href="../views/moonboard.html">Moonboard</a> ➚</h2>
            </div>

        </footer>

    </div>

    <script src="https://unpkg.com/scrollreveal"></script>

     <!-- JS for Video behaviour -->
     <script src="../js/video.js"></script>

    <script>
    
    // dear recruiters, please do not look at this buttonPress function, for it is the ugliest code i have ever 
    // written in my entire life. I swear im better than this haha.....
    function buttonPress(btn){

    var oneButton= document.getElementById("oneButton");
    var twoButton = document.getElementById("twoButton");
    var threeButton = document.getElementById("threeButton");

    var getImage = document.getElementById("change-image-workestra")

        var buttonActive;
        console.log(btn.id);

        if(btn.id === "oneButton"){
            // change img
            getImage.src = "../assets/workestra/edith-persona.png";
            // change styling
            oneButton.style.color = "black";
            oneButton.style.background = "rgba(240, 240, 240, 1)";

            twoButton.style.color = "rgba(0, 0, 0, 0.6)";
            twoButton.style.background = "rgba(250, 250, 250, 1)";

            threeButton.style.color = "rgba(0, 0, 0, 0.6)";
            threeButton.style.background = "rgba(250, 250, 250, 1)";


        } else
        if(btn.id === "twoButton"){
            // change img
            getImage.src = "../assets/workestra/frank-persona.png";
            // change styling
            oneButton.style.color = "rgba(0, 0, 0, 0.6)";
            oneButton.style.background = "rgba(250, 250, 250, 1)";

            twoButton.style.color = "black";
            twoButton.style.background = "rgba(240, 240, 240, 1)";

            threeButton.style.color = "rgba(0, 0, 0, 0.6)";
            threeButton.style.background = "rgba(250, 250, 250, 1)";

        } else 
        if (btn.id === "threeButton"){
            // change img
            getImage.src = "../assets/workestra/hason-persona.png";
            // change styling
            oneButton.style.color = "rgba(0, 0, 0, 0.6)";
            oneButton.style.background = "rgba(250, 250, 250, 1)";

            twoButton.style.color = "rgba(0, 0, 0, 0.6)";
            twoButton.style.background = "rgba(250, 250, 250, 1)";

            threeButton.style.color = "black";
            threeButton.style.background = "rgba(240, 240, 240, 1)";
        }
    }


    // CONTENT CHANGES
    // get variables from the context bar
    var contents = document.getElementById("contents");
    var one = document.getElementById("one");
    var two = document.getElementById("two");
    var three = document.getElementById("three");
    var four = document.getElementById("four");

    // check scroll position of website & return number
    window.addEventListener("scroll", () => {
        console.log(window.scrollY);
        // 1
        if (window.scrollY < 2500) {
            console.log("switch content!");
            one.style.color = "black";
        } else {
           one.style.color = "grey";
        }
        //2
        if(window.scrollY > 2500 && window.scrollY < 5900){
            contents.style.color = "white";
            two.style.color = "white";
        } else{
            two.style.color = "grey";
            contents.style.color = "grey";
        }
        //3
        if(window.scrollY > 5900 && window.scrollY < 13925){
            three.style.color = "black";
        } else{
            three.style.color = "grey";
        }
        //4
        if(window.scrollY > 13925){
            four.style.color = "black";
        } else{
            four.style.color = "grey";
        }
    });


  

    </script>
</body>

</html>