<!DOCTYPE html>
<!-- Hi! Fancy seeing you here (・◇・；). 
    If ya wanna get in touch, email me at ethanmahc@gmail.com. -->
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <meta name="description" content="Ethan Ma's Web Portfolio">
    <meta name="keywords"
        content="UX Design, UX Designer, Student, Product Design, Product, Design, Interaction Design, Interaction, Design, Ethan, Ma, Ethan Ma, SFU, Simon Fraser University, SIAT, Interactive Arts and Technology">
    <meta name="author" content="Ethan Ma">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Workestra</title>
    <link rel="icon" type="image/png" href="../assets/ethan-fav.png" />

    <!-- normalize css so it doesn't look wack -->
    <link rel="stylesheet" type="text/css" href="../normalize.css">

    <!-- case-study css -->
    <link rel="stylesheet" type="text/css" href="../case-study.css">

     <!-- independent css -->
     <link rel="stylesheet" type="text/css" href="../workestra.css">

    <!-- queries for responsiveness -->
    <link rel="stylesheet" type="text/css" href="../query.css">

</head>

<body>

    <article class="home-workestra">
        <div class="home-container">
            <h6 class="margin-bottom-lv32"> <a href="../../index.html" id="white">Ethan Ma</a></h6>
            <div>
                <h5 id="white" class="margin-bottom-lv2">UX CASE STUDY</h5>
                <h1 id="white" class="margin-bottom-lv1">Workestra - A Remote Work Experiment</h1>
                <p id="white08" class="margin-bottom-lv2 white08">Wörkestra is a desktop and mobile app that allows remote coworkers to see and hear each other’s keyboard
                        and mouse clicks. Wörkestra is an exploration of how teams can be more present with each other over 
                        distance while bringing joy into the remote workday.</p>
                    
                        <div class="button-wrapper margin-bottom-lv32">
                        <a href="../assets/pdf/workestra-pres.pdf" target="_blank" ><button class="margin-right-lv3"> <img id="slide-button" src="../assets/workestra/deck-icon.svg" alt="none">View Slidedeck</button></a>
                        <a href="../assets/pdf/workestra-research-report.pdf" target="_blank"> <button><img id="research-button" src="../assets/workestra/slide-icon.svg" alt="none">Read Research Report</button></a>
                    </div>
                </div>

                <div>
                    <h5 id="white" class="margin-bottom-lv05"> December 31st, 2020 </h5> 
                    <h5 id="white" > 5 minute read </h5>
                </div>
        </div>
    </article>
    
    <div class="container">        
        <article class="content">
            <!-- put the body content here -->
            <div class="side-bar">
                <h3 id="black" class="margin-bottom-lv3">CONTENTS</h3>
                <a href="#context"><h2 id="one" class="black">1. &nbsp; Context</h2></a>
                <a href="#workestra-solution"> <h2 id="two">2. Solution</h2> </a>
                <a href=""><h2 id="three">3. Process</h2> </a>
                <a href=""><h2 id="four">4. Moving Forward</h2> </a>
            </div>

            <div class="main-content">
                <h1 id="context" class="margin-bottom-lv1">Context</h1>
                <p class="margin-bottom-lv4">This project was a thirteen-week directed study supervised under Carman Neustaedter, 
                    taking a deep dive into the informal conversation habits of knowledge workers in North America. 
                    Within the project, our team conducted a literature review and user interviews to ultimately build a 
                    research report documenting COVID-19’s impact on project teams. This report informed our solution — 
                    Workestra, a new interaction for remote teams with the aim to reduce social isolation throughout the workday. </p>
                <img src="../assets/workestra/01.jpg" alt="workestra">

                <h1 class="margin-bottom-lv1">Problem</h1>
                <p class="margin-bottom-lv4">Due to COVID-19, companies have moved team collaboration solely online, 
                    causing 4.7 million Canadians to depend on online communication systems. According to the Angus 
                    Reid Institute, “the percentage of [Canadians] saying that [video calling] makes them feel truly
                     connected has plummeted as usage has increased.” Authentic interactions such as spur-of-the-moment 
                     conversations feel awkward and forced online, which is a missed opportunity for building team rapport.
                </p>
                <h2 class="quote">
                    “ I miss grabbing lunch with the team. All we talk about is work now.”                
                </h2>
                <img src="../assets/workestra/teams.svg" alt="workestra">
                
                <p class="margin-bottom-lv4">
                    These seemingly small, but meaningful in-person interactions such as stopping by a co-worker’s 
                    desk to catch up, are examples of how these conversations can foster social support, collaboration,
                    and satisfaction within the workplace. From our findings, 95% of survey respondents said it was 
                    difficult to socialize with their co-workers in a remote setting. Fostering authentic social 
                    relationships online is important in the workplace, for the sake of mental health and a 
                    productive team environment. 
                    <br><br>
                    For a full breakdown of our findings, check out the full research report here. 
                    

                </p>

                <a id="no-deco" href="../assets/pdf/workestra-research-report.pdf" target="_blank">
                    <div id="big-button-black" class="margin-bottom-lv16">
                        <img src="../assets/workestra/Union.png" alt="Exploring Informal Conversation in the Remote Workplace">
                        <h4 id="button-h4" class="margin-left-lv3">Exploring Informal Conversation in the Remote Workplace.pdf</h4>
                    </div>
                </a>

            </div>

            <div class="workestra-background">
                <div id="workestra-solution" class="workestra-solution">
                    <h6 class="margin-bottom-lv2">SOLUTION</h6>
                    <h1 class="margin-bottom-lv3">Workestra in Action!</h1>
                    <p class="margin-bottom-lv4">Wörkestra is a desktop and mobile app that allows remote coworkers to see and 
                        hear each other’s keyboard and mouse clicks. Wörkestra is an exploration of how 
                        teams can be more present with each other over distance while bringing joy into 
                        the remote workday. 
                        <br><br>
                        Turn your sound on for the video!</p>
                        
                        <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop class="abs margin-bottom-lv16">
                                <source src="../assets/workestra/Main.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            <img class="play-button" src="../assets/white-play-button.svg" alt="white-play-button">
                      
                        </div>
                        
                        <h1>When to use Workestra</h1>
                        <p class="margin-bottom-lv4">There are many ways to use Workestra, whether it be for team morale.
                            For a more in-depth explanation of Workestra, check out our final slidedeck, 
                            which contains more features, our process, and overall guiding principles that 
                            we used to design for  ____. </p>

                        <a id="no-deco" href="../assets/pdf/workestra-pres.pdf" target="_blank">
                        <div id="big-button" class="margin-bottom-lv8">
                            <img src="../assets/workestra/deck-icon.svg" alt="Final Slidedeck - Workestra">
                            <h4 id="white08" class="margin-left-lv3">Final Slidedeck — Workestra.pdf</h4>
                        </div>
                    </a>

                        <h5 class="margin-bottom-lv1">1. Wiggle Your Co-Workers</h5>
                        <p class="margin-bottom-lv3">Click + Drag any of your coworker’s icons back and forth to distort their sound. 
                            Think of it as a tap on the shoulder or a friendly way to say hello during the workday. 
                            The wiggled team member will receive a notification and can follow up through their 
                            company communication platform..</p>

                        <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop class="margin-bottom-lv16">
                                <source src="../assets/workestra/Wiggle Interaction.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            <img class="play-button" src="../assets/white-play-button.svg" alt="white-play-button">
                        </div>

                        <h5 class="margin-bottom-lv1">2. Send Emojis with Keywords</h5>
                        <p class="margin-bottom-lv3">Type keywords and phrases like “breaktime” or “coffee” in any application to give 
                            your team a hint about what you’re doing and where you are in your workday. Unique 
                            keywords can be programmed by individual team members and can be used to send subtle 
                            messages to their team.</p>

                        <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop class="margin-bottom-lv16">
                                <source src="../assets/workestra/Emoji Interaction.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            
                            <img class="play-button" src="../assets/white-play-button.svg" alt="white-play-button">
                       
                        </div>

                        <h5 class="margin-bottom-lv1">3. Keep Workestra on the Side</h5>
                        <p class="margin-bottom-lv3">With Workestra Mini, team members can see their co-workers in their peripheral vision. 
                            Curious team members can hover over the musical bars to reveal a profile picture of 
                            the currently active team member.</p>

                        <div class="video-wrapper" onclick="videoClick(this)">
                            <video loop class="margin-bottom-lv16">
                                <source src="../assets/workestra/Workestra Miniview.mp4">
                                Your browser does not support HTML5 video
                            </video>
                            <img class="play-button" src="../assets/white-play-button.svg" alt="white-play-button">
                          
                        </div>

                        <h5 class="margin-bottom-lv1">4. Sync up with Co-Workers</h5>
                        <p class="margin-bottom-lv3">Remote work can be lonely. Workestra shows when you and your coworkers are both 
                            typing above 90 words per minute — in other words: “in the zone” — by making 
                            your instruments sound more resonant. 
                        </p>

                        <video autoplay loop class="margin-bottom-lv16">
                            <source src="../assets/workestra/Glow Interaction.mp4">
                            Your browser does not support HTML5 video
                        </video>
                          
                </div>
            </div>

            <div class="main-content">
                <h1 class="margin-bottom-lv2">Process</h1>
                <h4 class="margin-bottom-lv1">1/8 - Literature Review</h4>
                <p>asdf</p>
            </div>

        </article>

        <!-- class footer for scroll-reveal -->
        <footer id="test" class="footer margin-top-lv16">
            <div class="section-top">
                <h4>Context</h4>
                <h5 id="white08">IAT 387 Directed Study - 13 Weeks</h5>
            </div>

            <div class="section">
                <h4>Collaborators </h4>
                <h5 id="white08" > <a id="white08" href="https://www.audreychow.com" target="_blank">Audrey Chow</a>, <a id="white08" href="https://brendanchow.info/" target="_blank">Brendan Chow</a>, <a id="white08" href="https://www.elizalim.com/" target="_blank">Eliza Lim</a>,  <a id="white08" href="https://carmster.com/" target="_blank">Carman Neustaedter</a></h5>
                
            </div>

            <div class="section">
                <h4>Tools</h4>
                <h5 id="white08">Figma, After Effects, Premiere Pro, Audacity, Keynote</h5>
            </div>

            <div class="section">
                <h4>Project Role</h4>
                <div>
                    <h5 id="white08">Interaction Design, User Research, Prototyping</h5>
                    <h5 id="white06">
                        I co-led the interaction design alongside Audrey, but brought to life the 
                        interaction with a mix of prototyping tools, After Effects, Premiere Pro, 
                        and Audacity. User Research was conducted by the whole team, but I specifically 
                        focused on researching and understanding the importance of informal conversation 
                        in the workplace. I pulled key insights from both interviews and the literature 
                        review that ended up informing the final design decisions.
                    </h5>
                </div>
            </div>

            <div class="section">
                <h4>Additional Links</h4>
                <div class="margin-bottom-lv4">
                    <h5 id="white08">Check out a rough prototype that I developed here!</h5>
                    <h5><a id="white06" href="https://directedstudy-heroku.herokuapp.com/" target="_blank">Heroku Prototype</a></h5>
                </div>

                <div>
                    <h5 id="white08">This was our remote work reading list.</h5>
                    <h5><a id="white06" href="https://deciduous-uranium-52e.notion.site/Reading-List-7fb4306e0a404f6fae04632f87b5d5d8" target="_blank">Notion Reading List</a></h5>
                </div>

            </div>

    
            <div class="footer-bottom">
                <div class="info-box">
                    <a href="mailto:ethanmahc@gmail.com" target="_blank"><h3>Email</h3></a>
                    <a href="https://www.sfu.ca/~ethanm/resume_2020.pdf" target="_blank"><h3>Resume</h3></a>
                    <a href="https://www.linkedin.com/in/eathnma/" target="_blank"><h3>Linkedin</h3></a>
                </div>
                <h2>Next: <a id="white08" href="../views/hi-five.html">Up-Top!</a> ➚</h2>
            </div>

        </footer>

    </div>

    <script src="https://unpkg.com/scrollreveal"></script>

     <!-- JS for Video behaviour -->
     <script src="../js/video.js"></script>

    <script>
    // ScrollReveal().reveal('.content');
    // ScrollReveal().reveal('.footer');


    // CONTENT CHANGES
    // get variables from the context bar
    var one = document.getElementById("one");
    var two = document.getElementById("two");
    var three = document.getElementById("three");
    var four = document.getElementById("four");

    // check scroll position of website & return number
    window.addEventListener("scroll", () => {
        console.log(window.scrollY);
        // 1
        if (window.scrollY < 1000) {
            console.log("switch content!");
            one.style.color = "black";
        } else {
           one.style.color = "grey";
        }
        //2
        if(window.scrollY > 1000){
            two.style.color = "black";
        } else{
            two.style.color = "grey";
        }
        //3
        //4
    });


  

    </script>
</body>

</html>