.moonboard-body {
  width: 100vw;
  height: auto;
  min-height: 100%;
}

.home-moonboard {
  width: 100vw;
  height: auto;
  /* padding: 2%; */

  /* background: url("../public/assets/workestra/hero-image.png") no-repeat center
    center;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

#mono {
  margin-top: 1em;
  text-align: center;
  font-family: MaisonNeue;
  font-weight: 400;
  font-size: 0.8125em;
  line-height: 1.9em;
  color: white;
}

#ethan-climbing {
  height: 35em;
  width: auto;
}

#border {
  border-radius: 1.5em;
}

.home-container {
  padding: 2%;
  width: 100vw;
}

.moonboard-background {
  /* padding: 2%; */
  background-color: #0d1524;
  /* follow old grid */
  grid-column-start: 1;
  grid-column-end: 31;

  /* start new grid */
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.moonboard-solution {
  padding: 2%;
  margin-top: 4em;
  grid-column-start: 9;
  grid-column-end: 23;
}

.two-mobile {
  display: flex;
  gap: 20px;
}

.moonboard-background p {
  font-family: New-Rail-Alphabet;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.8em;
  letter-spacing: -0.5%;
  color: rgba(255, 255, 255, 0.8);
}

.moonboard-background h1 {
  font-family: Sentinel;
  font-weight: normal;
  font-size: 1.75em;
  margin-bottom: 0.3em;
  color: white;
}

.moonboard-background h4 {
  font-family: New-Rail-Alphabet;
  font-weight: 200;
  font-size: 0.864375em;
}

.moonboard-background h6 {
  font-family: New-Rail-Alphabet;
  font-weight: 200;
  font-size: 0.84375em;
  color: rgba(255, 255, 255, 0.8);
}

.moonboard-solution h5 {
  font-family: New-Rail-Alphabet;
  font-weight: 300;
  font-size: 1.1em;
  color: white;
}
